*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

bin/
.settings/
.classpath
.project
target/classes/com/andieguo/databasedemo/config.properties

target/classes/com/andieguo/jsondemo/book.json

target/classes/com/andieguo/saxparserdemo/books.xml

target/classes/com/andieguo/saxparserdemo/saxbooks.xml

target/classes/com/andieguo/xmldemo/books.xml

target/classes/com/andieguo/xmldemo/createbooks.xml

target/classes/com/andieguo/xmldemo/ZAgricultrue.xml

target/classes/config.properties

target/maven-archiver/pom.properties

README.md
/target/
